/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'loader.scss';
@import 'login.scss';
@import 'common.scss';
@import 'myFonts.scss';
@import 'navbar.scss';
@import 'layouts.scss';
@import 'icons.scss';
@import 'dashboard.scss';
@import '~ngx-toastr/toastr';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
